body {
  overflow-x: hidden;
}

.projects-section {
  position: relative;
  width: 95%;
  overflow-x: hidden; /* Hide overflow in the parent */
  padding: 3rem;
}

.projects-container {
  display: flex;
  gap: 4rem; /* Space between images */
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  justify-content: center;
  height: 40rem;
  align-items: center;
  flex-wrap: wrap;
}

.projects-container::-webkit-scrollbar {
  display: none; 
}

.project {
  position: relative;
  flex-shrink: 0;
  width: 30rem;
  height: 14rem;
  transition: all 0.3s ease;
  z-index: 1;
  overflow: visible;
  margin: 1rem; /* Add margin to prevent overlap */
}
.project.smaller {
  width: 28rem; 
  height: 18rem;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, z-index 0s ease;
  border-radius: 10px;
  transform-origin: center;
}

.project:hover .project-image {
  transform: scale(1.3); /*scale by 1.3 */
  z-index: 10000;
}